@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Recipe>

<h1>Recipes for @User.Identity.Name</h1>

@if (Model.Any())
{
  @foreach (Recipe recipe in Model)
  {
    <p>@Html.ActionLink($"{recipe.Name}", "Details", new { id = recipe.RecipeId }, new {@class = "content"})</p> 
  } 
}
else 
{
  <p>No recipes have been added</p>
}

<p>@Html.ActionLink("Add new Recipe", "Create", "Recipes", null,  new { @class = "btn btn-dark btn-large" } )</p>