<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <a class="navbar-brand" href="#">Recipe Box</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample09">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link home" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link stylists" href="/Recipes">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link client" href="/Categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link client" href="/Account/Register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link client" href="/Account/Login">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link client" href="Account/LogOff">Sign out</a>
      </li>
      <div class="form-inline my-2 my-lg-0"></form>
      @using (Html.BeginForm("search","Categories")) 
      {
        @Html.TextBox("Search", null, new {@class="form-control"})
        @* <input type="text" name="search" class="form-control mr-sm-2"/> *@
        <input type="submit" value="Search" class="btn btn-outline-success my-2 my-sm-0">
      }
    </div>
    </ul>
    <div class="form-inline my-2 my-md-0">
    </div>
  </div>
</nav>